<!DOCTYPE html>
<html>
<head>
	<title>Store</title>
	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div class='container'>
		    <div class="row">
    <div class="span4">	Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur distinctio reiciendis odit quisquam a perspiciatis optio quidem facilis! Dolor voluptatum dolorem voluptates quis ipsam beatae ratione praesentium illum autem nam.</div>
    <div class="span8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum, eos, amet, beatae odio minima necessitatibus dolorem incidunt error impedit cupiditate at non repellendus iure magni perspiciatis quis repellat cum animi!</div>
    </div>
	</div>
	<%= yield %>

</body>
</html>
